<ion-header>
  <ion-toolbar>
    <ion-title>
      Catch pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar [(ngModel)]="pokemonName" (ionChange)="catchPokemon()" debounce="500" placeholder="Catch pokemon"
      animated>
    </ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let pokemon of pokemons">
        <ion-thumbnail slot="start">
          <ion-img [src]="pokemon.details ? pokemon.details.sprites.front_default : ''"></ion-img>
        </ion-thumbnail>
        <ion-label>{{ pokemon.name }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-chip *ngIf="pokemons.length === 0">
      <ion-label color="primary">No pokemons found</ion-label>
    </ion-chip>
  </div>
</ion-content>